html { overflow: hidden; }
body { margin: 0; overflow: hidden; }

#add-button, #return-button { 

	border: none;
	color: #fff;
	font-family: 'Bebas Neue';
	font-size: 5vh;
	height: 7vh; 
	position: absolute;
	text-align: center;
	width: 50%;

}

#add-button { background-color: #00a; bottom: 0; right: 0; } 
#return-button { background-color: #a00; bottom: 0; left: 0; } 

#products-list {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

#products-list li {

	border-bottom: 1px solid #ddd;
	display: block;
	font-family: 'Open Sans Light';
	height: 10vh;

}

#products-list li .name {

	float: left;
	line-height: 10vh;
	padding-left: 5vw;
	text-align: left;
	width: 65%;

}

#products-list li .price {

	float: left;
	font-size: 4vh;
	line-height: 10vh;
	text-align: center;
	width: 20%;

}

#products-list li .chevron {

	float: left;
	font-size: 6vh;
	line-height: 10vh;
	text-align: center;
	width: 15%;

}